- name: Add HPC LDAP group to instance
  group:
    gid: 6034
    name: gx8

- name: Add HPC LDAP user to instance
  become: true
  user:
    uid: 11937
    name: gx8_nfs

- name: Mount HPC volume
  mount:
    path: "{{ pcgr_hpc_mount }}"
    src: gdata3-nfs.nci.org.au:/mnt/gdata3/gx8
    fstype: nfs
    opts: hard,fg,defaults,nosuid,exec,ro,noatime,intr,rsize=32768,wsize=32768
    state: mounted

- name: Restore PCGR datapack from HPC filesystem
  unarchive:
    src: "{{ pcgr_hpc_mount }}/data/PCGR/{{ pcgr_databundle }}"
    dest: "{{ pcgr_mount }}/pcgr-{{ pcgr_release }}"
    creates: "{{ pcgr_mount }}/pcgr-{{ pcgr_release }}/data/.vep"
    remote_src: yes
