---
- hosts: localhost
  connection: local
  gather_facts: no
  pre_tasks:
   - name: Wait for automatic system updates
     shell: while sudo fuser /var/lib/dpkg/lock >/dev/null 2>&1; do sleep 1; done;
   - name: Seed ansible on remote instances (no python errors)
     raw: sudo apt-get -y install python python-simplejson aptitude
   - action: setup
  tasks:
    - name: Launch EC2 instance
      ec2:
         group: "{{ aws.security_group }}"
         instance_type: "{{ aws.instance_type }}"
         instance_profile_name: "{{ aws.instance_profile_name }}"
         instance_tags:
             Name: pcgr "{{ pcgr.release }}"
             name: pcgr
         #spot_price: "{{ aws.spot_price }}"
         image: "{{ aws.base_image }}"
         keypair: "{{ aws.keypair }}"
         region: "{{ aws.region }}"
         zone: "{{ aws.zone }}"
         wait: yes
         volumes:
           - device_name: "{{ aws.volume_device }}"
             volume_type: gp2
             volume_size: "{{ aws.volume_size }}"
             delete_on_termination: true
         count_tag:
           name: pcgr
         exact_count: 1
      register: ec2

    - name: Add new instance to host group
      add_host:
        hostname: "{{ item.public_dns_name }}"
        groupname: launched
      with_items: "{{ ec2.instances }}"

    - name: Wait for SSH to come up
      wait_for:
        host: "{{ item.public_dns_name }}"
        port: 22
        delay: 60
        timeout: 320
        state: started
      with_items: "{{ ec2.instances }}"

- name: Deploy roles on AWS 
  hosts: launched
  become: True
  gather_facts: True
  roles:
    - common
    - databundle
    - hotfix
