---
- name: Download Google drive downloader
  copy:
    src: scripts/gdown.pl
    dest: "{{ pcgr.mount }}/gdown.pl"
    mode: 0644

- name: Download PCGRs data pack
  command: "perl gdown.pl {{ pcgr.databundle_url}} {{ pcgr.mount }}/{{ pcgr.databundle }}"
  args:
    chdir: "{{ pcgr.mount }}"
    creates: "{{ pcgr.mount }}/{{ pcgr.databundle }}"

- name: Unpack PCGR data pack
  unarchive:
    remote_src: yes
    src: "{{ pcgr.mount }}/{{ pcgr.databundle }}"
    dest: "{{ pcgr.mount }}/pcgr-{{ pcgr.release }}"
    owner: ubuntu
    group: ubuntu
    creates: "{{ pcgr.mount }}/pcgr-{{ pcgr.release }}/data/.vep"